APP_NAME=Salud Natura
APP_TAGLINE=Sabiduría Ancestral de la Tierra
CONTACT_EMAIL=josepsaludnatura@gmail.com
DATABASE_URL=sqlite:///data/salud_natura.db
ENVIRONMENT=development
APP_PORT=8010

# Credenciales de Servidor y Despliegue (Opcionales para scripts de administración)
COOLIFY_API_TOKEN=tu_token_de_coolify_aqui
VPS_HOST=212.85.2.21
VPS_USER=root
VPS_PASS=tu_contrasena_de_vps_aqui

